header{
    text-align: center;
    font-size: large;
}

main{
    margin-left: 30em;
    margin-right: 30em;
}

div{
    display: inline;
}
footer{
    text-align: center;
}
label{
    font-size: 30px;
    font-style: unset;
}

input{
font-size: 15px;
}